.dark-mode {
    background-color: #181822;
    color: #F5F5F5;
}
body {
    background-color: #F5F5F5;
    color: #181822; 
}
.icon-small {
    font-size: 16px;
    line-height: 20px;
}

.icon-medium {
    font-size: 20px;
    line-height: 28px;
}

.icon-big {
    font-size: 40px;
    line-height: 5px;
}